.home-body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 50vh;
  flex-direction: column;
  .home-text {
    color: #b9c8e0;
  }
  .home-title {
    padding-top: 20px;
  }
  .home-code {
    color: #fff;
    font-size: 16px;
    position: relative;
    &::after {
      content: "|";
      position: absolute;
      top: -1px;
      right: 5px;
      animation: text-action 1s linear infinite;
    }
  }
  .home-feature .home-feature-text {
    color: #fff;
  }
  .home-feature .home-feture-icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 22px;
    padding: 27px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
  }
}

@keyframes text-action {
  0%, 45% {
    color: transparent;
  }
  50%, 100% {
    color: #fff;
  }
}
